body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #f4f4f4;
}


.navbar {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px; 
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}




.name {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-top: 20px; 
    margin-bottom: 20px;
}


.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.contact-icon {
    width: 30px; 
    height: 30px; 
}

a {
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

a:hover {
    color: whitesmoke; 
    opacity: 0.7;
}
